
@import url('https://fonts.googleapis.com/css2?family=Sansita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Kaushan+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
      /* --primary:#FF914D; */
      --primary:#B6281E;
   --primary-d:#CC5407;
   --white:#ffff;
   --black:#000000;
}


*{
      scroll-behavior: smooth;
}



body{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Sansita One", cursive;
   color: var(--black);
   
}

.Support{
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--primary-d);
      padding-inline: 2rem;
      color: var(--white);
      
}
.Support .me{
      border-bottom: 2px solid var(--white);
}

.Support .first_order{
      color: var(--primary-d);
      background-color: var(--white);
      padding: 5px;
      border-radius: 5px;
}

.Support .close_support i{
      font-size: 2rem;
      cursor: pointer;
      color: var(--white);
}

/* style header */
header{

     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-inline: 2rem;
     border-bottom: 3px solid var(--black);

}



header nav a{
     margin: 15px;
     text-decoration: none;
     color: #8F3630;
}

header .shop_icon{
      display: flex;
      align-items: center;
      gap: 20px;
}

header i{
      font-size: 1.3rem;
      color: #8F3630;
}


header .shpoquantity{
      position: relative;
}

header .quantity{
     width: 20px;
     height: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
      background-color: red;
      position: absolute;
      border-radius: 50%;
      top:-5px;
      left: 50%;
      
      color: #ffffff;
}


 .home_page{
       background-image: url(images/Green_Orange.png);
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
       height: 100vh;
 }

.home_content{
       width: 600px;
       position: absolute;
       top: 40%;
       left: 4%;   
 }

 .home_content .icon_home{
      display: flex;
      align-items: center;
      gap: 10px;
      background-color: var(--white);
      width: fit-content;
      padding: 0.1px 20px;
      border-radius: 30px;
      border-bottom: 2px solid var(--black);
      box-shadow: 0  0 10px var(--black);
 }

  .home_content .icon_home i{
       font-size: 2rem;
       
  }


.home_content .icon_home  h2{
   color: var(--primary-d);
   color: #8F3630;
}

.home_content  h1{
       font-size: 3.5rem;
       color: var(--white);
       letter-spacing: 7px;
}

.home_content p{
      margin-top: -20px;
      color: var(--white);
     
}

.home_content  button{
        background-color: var(--white);
      padding: 0.6rem 30px;
      border: none;
      border-radius: 10px;
      box-shadow: 0 0 3px var(--black);
      color: #8F3630;
      font-weight: 600;
      
}

.home_content a{
       margin-left: 20px;
      color:var(--white);
}


.list_products{
      display: grid;
    grid-template-columns:repeat(auto-fill,minmax(350px,1.5rem));
    gap: 15px;
    justify-content: center;
    margin-top: 5%;
    
}

.list_products .products{
      background-color: #FFF3F3;
      padding:30px;
      border-left: 4px solid #ff9a5b;
      border-top-left-radius:20px;
      border-bottom-left-radius: 20px;
      box-shadow: 0 0 4px var(--black);
      transition: 0.3s ease;
}




.list_products .products p{
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
}

.list_products .products:hover{
       transform: translateY(-10px);
}

.images{
       text-align: center;
}

.images img{
     width:200px;
}

.products .shop_now{
       display: flex;
       align-items: center;
       justify-content: space-between;
}

.products .shop_now P{
      font-size: 1.5rem; 
    
}
.products .shop_now i{
       font-size: 1.7rem;
       cursor: pointer;
}

.products #star{
      color:var(--primary);
}



.name_smartphone{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-inline: 4rem;
     margin-top: 40px;
}

.name_smartphone input{
       padding: 0.4rem 30px;
       border: 2px solid var(--primary-d);
       outline: none;
       border-radius: 10px;
}


 .name_smartphone a{
       margin-left: 15px;
       color: var(--black);
       border-bottom: 2px solid #fc7e2d;
}


/* form */




.contact .contact-title{
      
    font-size: 2.8rem;
    background: linear-gradient(var(--primary-d)15%, var(--primary) 85%);
     background-clip:Text;
     -webkit-text-fill-color: transparent;
     text-align: center;

}

.contact-form{
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    gap: 1.5rem;
    
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-group label{
    font-size: 1rem;
    font-weight: 500;
    border-bottom: 2px solid var(--primary-d);
    width: fit-content;
    
}

.form-input,.form-textarea{
    padding: 0.8rem 1rem;
    border-radius: 5px;
    border: 1px solid var(--black);
    transition: all 0.3s ease;
  
    color: black;
    font-weight: 600;
}

.form-input:focus,.form-textarea:focus{
    border-color: var(--primary);
    outline: none;
}

.form-textarea{
    min-height: 150px;
    resize: none;
}

.submit-btn{
    
    color: var(--white);
    padding: 0.8rem 1.5rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    background:linear-gradient(90deg, var(--primary-d),#ff914d );
}   


.submit-btn:hover{
    background:linear-gradient(90deg, #ff914d, var(--primary-d) );
    transform: scale( 1.05);  
}



/* style footer */
footer{
  display:flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  background-color: #ff914d;
  padding: 20px;
}

footer div h2{
       color: #ffff;
       text-align: center;
}

footer div .icon_media{
       background-color: #ffffff;
       padding: 10px;
       width: 90px;
       height: 90px;
       border-radius: 50%;
       margin-left: 6px;
}



footer div .icon_media i{ 
      font-size: 1rem;
      color: var(--black);
}

footer .links{
      margin-top: 10px;
}

footer .links a{
       color: var(--white);
       margin-top: 10px;
       display: block;
       text-align: center;
}

.copy-right{
       /* background-color: var(--white); */
       text-align: center;
}


